* {
  box-sizing: border-box;
}

html,
body,
#root {
  width: 100%;
  height: 100%;

  margin: 0;
  padding: 0;

  overflow: hidden;
  user-select: none;

  font-family: monospace, sans-serif;
}

body {
  position: fixed;

  width: 100vw;
  height: 100vh;

  top: 0;
  bottom: 0;
  right: 0;
  left: 0;

  overflow: hidden;
}

button {
  cursor: pointer;
}

.texturized-btn {
  padding: 0.5rem 1rem;
  margin: 1rem;
  z-index: 1000;

  font-family: inherit;
  color: #fff;

  background-image: url("/src/assets/img/log.jpg");
  background-size: contain;
  image-rendering: pixelated;

  font-size: 1.2rem;
  border-radius: 8px;
}

.texturized-btn:hover {
  outline: 3px solid #bbb;
}

.player-pointer {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 1000;

  transform: translate(-50%, -50%);

  font-size: 3rem;
  opacity: 0.8;
  color: #fff;
}

.save-world-btn {
  position: absolute;
  top: 0;

  background-image: url("/src/assets/img/log.jpg");
}

.select-texture-bar {
  width: 100%;
  max-width: 500px;

  position: absolute;
  left: 50%;
  bottom: 1.5rem;

  padding: 0.8rem;
  border: 15px ridge #aaa;

  display: flex;
  gap: 1rem;
  justify-content: space-around;

  transform: translateX(-50%);

  background-color: #333;
  image-rendering: pixelated;
}

.select-texture-bar img {
  width: 100px;

  border: 2px solid #fff;
}

.select-texture-bar img.selected {
  width: 100px;

  outline: 5px solid rgb(255, 0, 0);
}

.help-menu {
  position: absolute;

  top: 0;
  right: 0;
  z-index: 1000;

  margin: 1rem;
}

.help-menu p {
  padding: 1rem;

  border-radius: 10px;
  background-color: #222;
  color: #fff;
}

.help-menu code {
  padding: 0.3rem 0.6rem;
  margin-right: 10px;

  background-color: #666;
  border-radius: 8px;

  font-family: monospace, sans-serif;
}

.help-menu dialog {
  border: 10px ridge #aaa;

  background-image: url("/src/assets/img/wood.png");
  background-size: contain;
  image-rendering: pixelated;

  overflow: visible;

  z-index: 5000;
}

.help-menu button {
  display: block;
  margin: auto;

  background-image: url("/src/assets/img/grass.jpg");
  background-size: contain;
}
